ip: 192.168.10.40
memory: 2048
cpus: 1
provider: virtualbox
folders:
    -
        map: 'C:\Users\olivpa\Code\1617.nmdad2.local'
        to: /home/vagrant/Code/1617-nmdad2-local
sites:
    -
        map: 1617.nmdad2.local
        to: /home/vagrant/Code/1617-nmdad2-local/laravel/public
        type: laravel
name: 1617-nmdad2-local
hostname: www.1617.nmdad2.local
